*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
::-webkit-scrollbar {
    background-color: #1C2333;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: #3C445C;
}
::-webkit-scrollbar-track {
    background-color: #1C2333
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 10;
    background-color: #0e1525;
    border-bottom: 1px solid #1c2333;
}
.main_nav {
    position: relative;
}
.main_menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.left_menu {
    position: relative;
    display: flex;
    align-items: center;
}

ul.ul_menu {
    position: relative;
    display: flex;
    margin-left: 20px;
}



.li_menu {
    list-style: none;
    margin-right: 20px;
}

.li_menu a {
    text-decoration: none;
    color: #f5f9fc;
    font-size: 14px;
}
.bar{
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    border: 0 none;
    color: #fff;
    padding: 10px;
    opacity: 0.8;
}
.btn {
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    padding: 8px;
    text-align: center;
    border: none;
    color: #f5f9fc;
}

.btn.btn-sing {
    background: #0079f2;
    border: 1px solid #0079f2;
}

.btn.btn-login {
    background: #2b3245;
    border: 1px solid #4e5569;
}

.btn.btn-login:hover {
    background: #0079f2;
    border: 1px solid #0079f2;
}

.header{
    position: relative;
    padding: 120px 40px 88px 40px;
    background-color: #0E1525;
}
.text{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text h1{
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    color: #fcfcfc;
    text-shadow: 2px 2px 60px #0079f2;
}
.text p{
    padding-top: 32px;
    font-size: 20px;
    color: #c2c8cc;
    text-align: center;
    line-height: 1.25em;
    max-width: 720px;
}
.btn.btn-start{
    line-height: 16px;
    padding: 16px !important;
}
.button{
    padding: 32px;
}
.video_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 1024px;
}
video{
    width: 100%;
    height: 100%;
    border: 3px solid #2b3245;
    border-radius: 8px;
    box-shadow: 0px 8px 50px 10px #0e1525;
}
.feature{
    padding: 48px;
    background: linear-gradient(180deg,#192334 0%,#0d101e 100%);
}
.main_heading{
    font-size: 56px;
    color: #fcfcfc;
    text-align: center;
}
.row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px;
    padding: 48px 0;
    width: 85%;
    margin: auto;
}
.box{
    padding: 24px;
    background-color: #1c232323;
    border: 2px solid #004182;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    transition: .2s linear;
}
.box h2{
    font-weight: 500;
    color: #fff;
    padding: 16px 0;
    font-size: 20px;
}
.box p{
    font-weight: 300;
    color: #c2c8cc;
    font-size: 16px;
    line-height: 20px;
}
.box:hover{
    background-color: transparent;
    border: 2px solid #0079f2;
    box-shadow: 0px 4px 20px #0079f2;
    transform: scale(1.025);
}
.content{
    position: relative;
    background-color: #0E1525;
}
.content_center{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;    
    display: flex;
    flex-wrap: wrap;
    padding: 64px 32px;
    width: 1024px;
}
.content_text,.img{
    flex: 0 0 auto;
    width: 50%;
}
.content_text{
    margin: auto;
    padding: 0px 0px 0px 48px;
}
.content_text h2{
    font-weight: 500;
    font-size: 22px;
    color: #9da2a6
}
.content_text h1{
    font-weight: 500;
    font-size: 42px;
    margin-bottom: 24px;
    color: #fff;
    text-shadow: 2px 8px 40px #0079f2;
}
.content_text p{
    font-size: 17px;
    color: #c2c8cc;
    margin-bottom: 16px;
}
.content_text p span{
    font-weight: 600;
    color: #f5f9fc;
}
.content_text a{
    color: #0079f2;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 0;
    text-decoration: none;
}
.trust-img{    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
}
.trust-img .trust{
    padding: 16px;
    flex: 0 1 175px;
}
.trust-text{
    font-weight: 500;
    font-size: 42px;
    margin-bottom: 48px;
    color: #fff;
    text-shadow: 2px 8px 40px #0079f2;
    text-align: center;
}
.trust-box{
    padding:88px 40px;
}
.start_Now{
    padding: 96px;
    text-align: center;
}
.start_Now h1{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-bottom: 24px;
}

@media (max-width:425px) {
    .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 16px;
        width: 100%;
    }
    .box{
        height: 100%;
        width: 100%;
    }
    .box p{
        display: none;
    }
    .box h2{
        text-align: center;
    }
    .box .icon{
        text-align: center;
    }
    .main_menu{
        display: none;
    }
    .container{
        flex-wrap: wrap;
        width: 100%;
    }
    .container .img{
        width: 100%;
    }
    .trust-img{
        width: 100%;
    }
    .left_menu{
        justify-content: space-between;
    }
}